<%- include inc/header.ejs %>

<%- include inc/menu.ejs %>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <h2 align="center"><%= title %></h2>
          <form action="/find" method="get" class="form-horizontal">
            <input class="form-control form-control-dark"  name="keyword" type="text" placeholder="Введите фио, иин, телефон ...">  
          </form>
        </main>


<%- include inc/footer.ejs %>
